$cloudyBlue: "#428bca";

html, body {
  height: 100%;
}

/*For Angular-Ui*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  background: url(//placehold.it/1920x1080/428bca/ffffff/&text=Background%20holder) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img#avatar-sm {
  height: 50px;
  width: 50px;
}

img#avatar-md {
  height: 75px;
  width: 75px;
}

h3#profileID {
  display: inline-block;
}

div#editProfile {
  float: right;
}
ul#searchList {
  list-style-type: none;
}

ul#searchList hr {
  border-top: 1px solid #777;
}

ul#searchList span#searchedUser a {
  text-decoration: none;
  color: #000000;
}

ul#searchList span#searchedUser a:visited {
  text-decoration: none;
  color: #777;
}

ul#searchList span#searchedUser a:hover {
  text-decoration: none;
  color: #000000;
}

div#changePassContainer, div#changeEmailContainer {
  background: transparent;
}

div#profileContainer .panel-collapse {
  background: #eeeeee;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -90px;
}
/* Custom page footer */
.push, .footer {
  height: 90px;
}
.footer {
  text-align: center;
  padding-top:20px;
  color: #777777;
  background: #e7e7e7;
  border-top: 1px solid #e5e5e5;
}
